<div class="wrapper">
    <!--OS Selection View-->
    <div *ngIf="osSelection" class="os-selection">
        <div *ngIf="!selectOS">
            <p style="margin-bottom: 0px;">We detected that your Operating System is <span style="font-weight: bolder; color:#2196F3"> {{selectedOS.name}}</span>. If this is correct, click Continue. Otherwise, click Choose My OS.</p>
            <button pButton pRipple class="p-button-outlined" label="Choose My OS" (click)="select()"></button>
        </div>
        <p *ngIf="!foundOS">We were unable to detect your Operating System version. Please choose your Operating System from the dropdown below, then click Continue</p>
        <p *ngIf="selectOS && foundOS && !showText">Select your Operating System</p>
        <p-dropdown *ngIf="selectOS && !showText" [options]="operatingSystems" placeholder="Select your OS" [(ngModel)]="selectedOS" optionLabel="name"></p-dropdown>
        <i *ngIf="selectOS && !showText" class="pi pi-info-circle" (click)="showTextBox()"> Click here if your operating system is not listed</i>
        <div *ngIf="showText" class="p-field">
            <p>Enter the name of your Operating System</p>
            <label for="os">Operating System</label>
            <form [formGroup]="os_form" id="os-form">
                <input pInputText id="os" type="text" aria-describedby="os-help" [formControlName]="'os'" />
            </form>
            <div *ngIf="os_form.controls['os'].errors?.invalidOs==true && os_form.controls['os'].dirty" style="margin-top: 10px;">
                <p-message  severity="info" text="Commas are not allowed in the OS name, and the field cannot be left blank"></p-message>
            </div>
            <i class="pi pi-angle-left" (click)="backToOSSelection()"> Back to OS Selection</i>
        </div>
        <button pButton pRipple type="button" label="Continue" [disabled]="os_form.controls['os'].errors?.invalidOs==true && os_form.controls['os'].dirty && showText" (click)="submitOSChoice(selectedOS)"></button>
    </div>
    
    <!--IP Address Selection View-->
    <div *ngIf="ipSelection" class="ip-selection">
        <div *ngIf="ipFound">
            <p style="margin-bottom: 0px;">We detected that your IPv4 address is <span style="font-weight: bolder; color:#2196F3"> {{selectedIP.ip_address}}</span>. If this is correct, click Continue. Otherwise, click Set My IP.</p>
            <button *ngIf="!selectIP" pButton pRipple class="p-button-outlined" label="Set My IP" (click)="selectIp()"></button>
        </div>
        <p *ngIf="!ipFound">We were unable to detect your IP address. Please enter your public IPv4 address in the field below, then click Continue</p>
        <div *ngIf="!ipFound || selectIP" class="p-field">
            <label for="ip">IP Address</label>
            <form [formGroup]="ip_form" id="ip_form">
                <input pInputText type="text" placeholder="xxx.xxx.xxx.xxx" [formControlName]="'ip'"/>
            </form>
            <div *ngIf="ip_form.controls['ip'].errors?.invalidIp==true" style="margin-top: 10px;">
                <p-message  severity="info" text="Must enter a public IP address, with each octet separated by a period. Example: 132.178.0.7"></p-message>
            </div>
        </div>
        <i class="pi pi-angle-left" (click)="backToOSSelection()"> Back to OS Selection</i>
        <button pButton pRipple type="button" label="Continue" [disabled]="ip_form.controls['ip'].errors?.invalidIp==true && ip_form.controls['ip'].dirty" (click)="submitIPChoice(selectedIP)"></button>
    </div>
</div>