<p-toast position="top-center" key="tc"></p-toast>
<p-dialog header="Uploading File" [(visible)]="loading">
    <p>Uploading file. Please wait.</p>
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="5" animationDuration=".9s"></p-progressSpinner>
</p-dialog>
<div class="content">
    <i class="pi pi-home settings-icon" title="Home" [routerLink]="['/main']" style="font-size: 3rem;"></i>
    <h1>Adding your own tests to PiRate</h1>
    <p>The Raspberry Pi contains a suite of tests in the form of executable Python files, where each .py file contains a single test.</p>
    <p>To add your own test, follow the steps below:</p>
    <ul>
        <li>
            Create a python file (ending in .py) called <i>test_name.py</i>, where <i>test_name</i> is the name of your test (i.e., "Eternal Blue").
        </li>
        <li>
            In this file, create a class that exactly matches the name of your file (without the .py ending). This class must contain the following:
            <ol>
                <li>A field called <em>name</em>, which is the name of the test.</li>
                <li>A field called <em>desc</em>, which is a short description of the test.</li>
                <li>A field called <em>oses</em>, which is a list of Operating Systems the test supports.</li>
                <li>
                    A method called <em>scan(ip)</em>, which is where the test logic will be contained. This method

                    <ul>
                        <li>Accepts a single argument, <em>ip</em> - the IP address to run the test on.</li>
                        <li>Returns a two-tuple containing the following:
                            <ol>
                                <li>the status of the result (i.e., "Success", "Failure", "Info", etc.)</li>
                                <li>A longform description of the result (i.e., command line output, helpful error messages, etc.).</li>
                            </ol>
                        </li>
                    </ul>
                </li>
            </ol>
        </li>
        <li>
            <em>NOTE:</em>
            <ol>
                <li>All fields, along with the method argument and return values, must be of type <i>string</i>.</li>
                <li>If you upload a test and then are unable to run it or access the test list, there was a problem with the test format.<br>
                    You will need to access the Pi and go to <code>/home/pi/pirate/controller/tests/</code> and edit or delete your test(s).</li>
                <li><a (click)="saveTemplateFile()">Click here</a> to download a template that matches the format specified above.</li>
            </ol>
        </li>
    </ul>
    <p>Once you have the test in a Python file that matches the acceptable format, you can select and upload the file below.</p>
    <div class="upload-selection">
        <label class="button" for="upload">+ Browse</label>
        <input id="upload" type="file" name="python-file" ng2FileSelect [uploader]="uploader" accept=".py" />
        <span *ngIf="uploader.getNotUploadedItems().length > 0">{{uploader.queue[0].file.name}}</span>
        <button pButton pRipple type="button" label="Upload" (click)="uploadFile()" [disabled]="!uploader.getNotUploadedItems().length"></button>
    </div>
</div>