<div class="wrapper">
    <i class="pi pi-cog settings-icon" title="Settings" [routerLink]="['/main/settings']" style="font-size: 3rem;"></i>
    <div *ngIf="displayTestArea" class="test-area">
         <!-- Main test list -->
        <div class="test-list" *ngIf="testsView">
            <p-table [value]="tests"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
            [(selection)]="selectedTests" dataKey="test_id" styleClass="p-datatable-tests"
            [filterDelay]="0" [rows]="10" [rowHover]="true">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        Available Tests
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="test_name">Name <p-sortIcon field="test_name"></p-sortIcon></th>
                        <th>Description</th>
                        <th pSortableColumn="operating_systems">Operating Systems <p-sortIcon field="operating_systems"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-test>
                    <!-- <p-dialog header="{{test.test_name}}" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                    [draggable]="false" [resizable]="false" [dismissableMask]="true">
                    <p class="p-m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ng-template pTemplate="footer">
                        <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
                        </ng-template>
                    </p-dialog> -->
                    <tr>
                        <td>
                            <!-- Disable if OS isn't compatible -->
                            <p-tableCheckbox [value]="test"></p-tableCheckbox>
                        </td>
                        <td class="td-clickable">{{test.test_name}}</td>
                        <td class="td-clickable">{{test.test_description}}</td>
                        <td class="td-clickable">{{test.operating_systems}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <button *ngIf="testsRun" style="margin-top: 5px;" pButton pRipple type="button" label="View Previous Test Results" (click)="resultView()"></button>
            <button style="float: right; margin-top: 5px;" pButton pRipple type="button" [disabled]="selectedTests == null || selectedTests[0] == undefined" label="Run Selected Tests" (click)="runTests()"></button>
        </div>

        <!-- Loading screen while tests are running -->
        <div class="loading-screen" *ngIf="loadingView">
            <h2>Running Tests...</h2>
            <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="5" animationDuration=".9s"></p-progressSpinner>
        </div>

        <!-- Test results displayed after tests are run -->
        <div class="test-results" *ngIf="resultsView">
            <p-table [value]="testResults"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
            dataKey="test_id" styleClass="p-datatable-tests"
            [filterDelay]="0" [rows]="10" [rowHover]="true">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        Test Results
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="test_name">Name <p-sortIcon field="test_name"></p-sortIcon></th>
                        <th pSortableColumn="date">Date Executed <p-sortIcon field="date"></p-sortIcon></th>
                        <th pSortableColumn="value">Status <p-sortIcon field="value"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-result>
                    <p-dialog [dismissableMask]="true" header="{{result.value}}" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                    [draggable]="false" [resizable]="false">
                    <p class="p-m-0">{{result.description}}</p>
                        <ng-template pTemplate="footer">
                        <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
                        </ng-template>
                    </p-dialog>
                    <tr>
                        <td class="td-clickable" (click)="showModalDialog()">{{tests[result.test_id-1].test_name}}</td>
                        <td class="td-clickable" (click)="showModalDialog()">{{result.date}}</td>
                        <td class="td-clickable" (click)="showModalDialog()">{{result.value}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <button *ngIf="testsRun" style="margin-top: 5px;" pButton pRipple type="button" label="View Previous Test Results" (click)="resultView()"></button>
            <button *ngIf="testsRun" style="float: right; margin-top: 5px;" pButton pRipple type="button" label="Save Results to File" (click)="saveFile()"></button>
        </div>
    </div>
</div>