<div class="welcome">
    Welcome to PiRate!
</div>
<div class="content">
    <div class="new-client">
        <p>If you have NEVER used PiRate on this device...</p>
        <button pButton pRipple type="button" label="Click Here" [routerLink]="['/setup/new-user']"></button>
    </div>
    <div class="returning-client">
        <p>If you HAVE used PiRate on this device, upload the save file that PiRate uses.</p>
        <form action="">
            <p-fileUpload mode="basic" chooseLabel="Browse" name="upload[]" accept=".dat" customUpload="true" maxFileSize="10000000" (uploadHandler)="onUpload($event)" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
            <button pButton pRipple type="button" label="Go!" [disabled]="!uploadSuccess" (click)="goToTesting()"></button> 
        </form>
    </div>
</div>   